<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Stt</th>
        <th>Name</th>
        <th>Price</th>
        <th>Img</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody *ngIf="products && products.length">
      <tr *ngFor="let product of products; index as i">
        <td>{{i+1}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.img}}</td>
        <td><button (click)="removeItem(product.id)">Xoa</button>|<button><a
              routerLink="/admin/product/{{product.id}}/edit">Sua</a></button>
        </td>

      </tr>
    </tbody>
  </table>
</div>